<html>
<head>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<div>
    <a href="/">Home</a> |
    <a href="/core/post">Add item</a> |
    <a href="/core/search">All items</a>
</div>
<h1><%= title %></h1>
