<!-- Rachel Mamich
     CSCI 3308
-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="studyBuddyAppNewUser.css" type="text/css" rel="stylesheet" />
    <title>studyBuddyAppNewUser</title>
</head>
<body>
    <h3>Please fill out the user form below:</h3>
    <br />
    <form action="/core/newuser" method="post">
        <b>Username:</b><br />
        <input type="text" name="username" placeholder="Enter Username"><br>
        <br />
        <b>Password:</b><br>
        <input type="text" name="password1" placeholder="Password"><br>
        <br />
        <b>Re-enter Password:</b><br>
        <input type="text" name="password2" placeholder="Password"><br>
        <br />
        <input type="submit" value="Enter"></a>
</form>
</body>
</html>